$teal: #5dd7da;
$white: #f9f8f7;
$lightPink: #ffc0c0;
$darkGray: #131312;
$lightGray: #e2e2e2;

body {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  color: $darkGray;
  background-color: $white;

  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }

    //LOGIN & REGISTER 페이지
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightGray;

      form {
        display: flex;
        flex-direction: column;
        background-color: $white;
        padding: 50px;
        gap: 10px;

        h1 {
          font-size: 20px;
          color: $darkGray;
          margin: 0 0 10px 0;
        }

        input {
          height: 30px;
          border: none;
          border-bottom: 1px solid $darkGray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: $lightPink;
          cursor: pointer;
        }

        p {
          font-size: 12px;
          text-align: center;
          color: red;
        }

        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }

    //NAVBAR
    .navbar {
      .container {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: $teal;

        .logo {
          font-size: 30px;
          font-weight: bold;
        }

        .links {
          display: flex;
          align-items: center;
          gap: 10px;

          h6 {
            font-size: 17px;
            font-weight: 500;
          }

          span {
            font-size: 16px;
            font-weight: 500;
          }

          .write {
            background-color: $lightPink;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;

            &:hover {
              background-color: $lightPink;
              width: 50px;
              height: 2px;
            }
          }
        }
      }
    }

    //FOOTER
    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $darkGray;
      color: $white;
      display: flex;
      justify-content: space-between;

      .logo {
        font-size: 20px;
        font-weight: bold;
      }

      .links {
        display: flex;
        gap: 10px;
      }
    }

    //HOME
    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 50px;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }

          .img {
            flex: 2;
            position: relative;
            z-index: 0;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: $lightPink;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              max-width: 400px;
              object-fit: cover;
            }
          }

          .content {
            height: 100%;
            flex: 3;
            display: flex;
            flex-direction: column;
            // justify-content: space-between; 적용이안됨

            h1 {
              font-size: 48px;
            }

            p {
              font-size: 18px;
            }

            button {
              width: max-content;
              padding: 10px 20px;
              cursor: pointer;
              background-color: $white;
              border: 1px solid $teal;
              color: $teal;

              &:hover {
                color: $darkGray;
                background-color: $teal;
              }
            }
          }
        }
      }
    }

    //SINGLE
    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 450px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;

          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
        }
        .edit {
          display: flex;
          gap: 5;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }
      }

      //MENU
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          margin: 0;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }

        h2 {
          font-size: 22px;
          margin: 5px 0px 5px 0px;
        }

        button {
          width: max-content;
          padding: 10px 20px;
          cursor: pointer;
          color: $teal;
          background-color: $white;
          border: 1px solid $teal;

          &:hover {
            color: $darkGray;
            background-color: $teal;
          }
        }
      }
    }

    //WRITE
    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1 {
            font-size: 20px;
            margin: 5px 0;
          }

          .file {
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons {
            display: flex;
            justify-content: space-between;

            :first-child {
              color: $lightPink;
              background-color: white;
              border: 1px solid $lightPink;
              padding: 3px 8px;
              cursor: pointer;
            }

            :last-child {
              color: white;
              background-color: $lightPink;
              border: none;
              padding: 3px 8px;
              cursor: pointer;
            }
          }

          .cat {
            display: flex;
            align-items: center;

          }
        }
      }
    }
  }
}
